.cardlist__container {
    display: grid;
    grid-template-columns: 25% 30% 25%; 
    column-gap: 10%;
   
}


/* ----medium ----- */
@media screen and (max-width:1024px) {
    .cardlist__container{
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 20%;
    }
}

/* -----small -----  */
@media  screen and (max-width: 600px) {
    .cardlist__container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
